div {
  border: 1px solid lightgrey;
  margin: 8px;
}

img {
  max-height: 120px;
  max-width: 100%;
}

.review {
  display: inline-block;
  width: 30%;
}

.row-item {
  display: inline-block;
  width: 30%;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}